
.NavbarItems {
    background: linear-gradient(90deg, rgba(40, 135, 190, 0.404) 0%, rgb(35,125, 190)50%);
    
    height: 80px;
    display: flex;
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    min-width: 100vw;
    width: 100vw;
}

.NavBarLogo{
    color: #ffffff;
    justify-self: flex-start;
    align-content: center;
    padding-left: 1rem;
    padding-right: 10%;
    padding-left: 2rem;
    flex-grow: 1;    
}

.fa-store{
    color: white;
}

.NavMenu {
    display: grid;
    grid-template-columns:repeat(5, auto) ;
    list-style: none;
    text-align: center;
    width: 95vw;
    justify-content: end;
    margin-right: 2rem;
}


.NavLinks{
    color: white;
    text-decoration: none;
    justify-self: flex-end;
    /* justify-content: space-between; */
    padding: 0.5rem 1rem;
    font-family: 'Work Sans', sans-serif;
    align-items: right;
    margin: 1rem;
    
}

.SignOutNavLinks {
    background-color: rgb(33, 85, 122);
    color: white;
    text-decoration: none;
    align-self: flex-end;
    padding: 0.5rem 1rem;
    font-family: 'Work Sans', sans-serif;
    align-self: center;
    border-radius: 4px;
    margin: left right bottom 1.5rem;
    border: none;
}

.welcome-bar{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.welcome{
    color:whitesmoke;
    font-size: medium;
    margin: 5px;
    padding-right: 1rem;
}

.SignOutNavLinks:hover {
    background-color: #4ad9e4 ;
    border-radius: 4px;
    border-color: none;
    transition: all 0.2s ease-out;
}

.NavLinks:hover {
    background-color: #4ad9e4 ;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.MenuIcon{
    color: white;
    display: none;
}

.NavLinksMobile{
    display: none;
    font-family: 'Work Sans', sans-serif;
}

@media screen and (max-width: 680px){
    .NavbarItems {
        position: relative;
    }

    .NavMenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -150%;
        opacity: 1;
        transition: all .5s ease;
    }
    .NavMenu.active {
        left: 0;
        padding: 0;
        opacity: 1;
        transition: all .5s ease;
        z-index: 1;
    }
    .NavLinks, .welcome{
        text-align: center;
        background: linear-gradient(90deg, rgb(40, 135, 190) 100%, rgb(33, 85, 122)0%) ;
        padding: 1rem;
        width: 100%;
        display: table;
    }
    .NavLinks:hover{
        background: linear-gradient(90deg, rgb(35,125, 190) 100%, rgb(40, 135, 190)0%) ;
        border-radius: 0;
        padding-right: 0;
    }

    .NavBarLogo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .MenuIcon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .NavLinksMobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #4ad9e4;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }

    .NavLinksMobile:hover{
        background: white;
        color: rgb(35,125, 190);
        transition: 250ms;
    }

    Button {
        display: none;
    }
}