.addition-flex{
    align-content:center;
}

.login-form{
    align-content: center;
}

.specific-item-list{
    margin: 0;
    padding: 0;
}

.item-list{
    border: 1px;
    border-radius: 4px;
    align-items: center;
    /* background: rgba(27, 95, 143, 0.329); */
    background: linear-gradient(to top, rgb(33, 85, 122), rgb(27, 95, 143, 0.329)); /* Chrome 10-25, Safari 5.1-6 */

    color: whitesmoke;
    font-size: 12px;
}


.bid-amount{
    size: 12px;
    padding: 3px;
    margin: 5px;
    color: whitesmoke;
}
.bid-label{
    padding-left: 3px;
    size: 12px;
}

.items-list{
    list-style-type: none;

}

.bid-input{
    background: rgb(33, 85, 122);
    padding: 10px;
    align-self: left;
    align-items: right;

}

.bid-submit{
    padding: 4px;
    font-size: 12;
    background-color: rgb(33, 85, 122);
    color: whitesmoke;
    cursor: pointer;
}

.bid-placement {
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.unordered-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.items-name{
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.items-description{
    background: #00B9BC;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1 0 auto;
}
.items-image{
    align-items: left;
    background: #00B9BC;
}

.description-and-image{
    display: flex;
    flex-direction: row-reverse;
    /* align-content: space-between; */
    background: #00B9BC;
    align-content: space-around;
}


.items-name:hover{
    background-color: rgb(35,125, 190);
    transition: 250ms;
    font-size: 36px;
    cursor: pointer;
}

